certifi==2024.7.4
charset-normalizer==3.3.2
idna==3.7
PyQt5==5.15.10
PyQt5-Qt5==5.15.14
PyQt5-sip==12.13.0
PyQt5==6.7.2
PyQt5_Addons==6.7.2
PyQt5_Essentials==6.7.2
python-dotenv==1.0.1
requests==2.32.3
shiboken6==6.7.2
urllib3==2.2.2
